@import "_reset.scss";
@import "_variables.scss";
@import "_mixin.scss";
@import "sailorday.scss";
@import "sailornight.scss";
@import "_desktop.scss";

@media screen and (max-width: 800px) {
  body {
    div {
      header {
        width: 100%;
        height: 200px;

        .top {
          @include top;
          font-size: 7px;
        }

        .container {
          width: 100%;
          height: 177px;
          display: block;

          .guifosLogo {
            img {
              width: 102.6px;
              height: 64px;
              margin: 30px 0px 0px 30px;
              padding: 0;

              &:hover {
                cursor: pointer;
              }
            }
          }

          .btn-group {
            width: 100%;
            height: auto;
            display: flex;
            justify-content: space-around;

            .make-gif {
              @include button;
              width: 100px;
              height: 30px;
              padding: 5px;
              box-sizing: border-box;
              font-size: 12px;

              &:hover {
                cursor: pointer;
                outline-offset: -5px;
              }

              &:active {
                cursor: pointer;
                outline-offset: -5px;
              }

              a {
                text-decoration: none;
              }
            }

            .dropdown {
              z-index: 999;
              display: flex;
              width: auto;
              height: 118px;
              box-sizing: border-box;
              max-height: 0;

              .dropdown-list {
                width: 0px;
                height: 0px;
                visibility: hidden;

                li {
                  list-style-type: none;
                  width: 80px;
                  height: 30px;
                  box-sizing: border-box;
                  margin: 6px;
                  font-size: 12px;
                  padding: 6px 0px 3px 6px;

                  &:hover {
                    cursor: pointer;
                  }
                }

                .sd {
                  margin-top: 46px;

                  span {
                    text-decoration: underline;
                  }
                }
              }

              .btn-theme {
                @include button;
                width: 76px;
                height: 30px;
                padding: 5px;
                box-sizing: border-box;
                font-size: 12px;

                &:hover {
                  cursor: pointer;
                  outline-offset: -5px;
                }

                &:active {
                  cursor: pointer;
                  outline-offset: -5px;
                }
              }

              .square {
                box-sizing: border-box;
                width: 24px;
                height: 30px;

                img {
                  width: 10px;
                  height: 6px;
                  padding: 11px 6px 11px 6px;
                }

                &:hover {
                  cursor: pointer;
                  outline-offset: -5px;
                }

                &:active {
                  cursor: pointer;
                  outline-offset: -5px;
                }
              }
            }

            .mycollection {
              width: auto;
              height: 18px;
              text-decoration: none;
              align-self: flex-start;

              p {
                width: 76px;
                height: 18px;
                padding: 10px 10px 8px 4px;
                font-size: 14px;
                margin: 40px 0px 0px 0px;

                &:hover {
                  cursor: pointer;
                  outline-offset: -5px;
                }

                &:active {
                  cursor: pointer;
                }

                span {
                  width: 8px;
                  height: 2px;
                  text-decoration: underline;
                }
              }
            }
          }
        }
      }

      .searchbar {
        width: 100%;
        height: 99px;
        margin-left: auto;
        margin-right: auto;
        box-sizing: border-box;
        display: flex;
        flex-direction: column;

        .searchbar-title {
          width: 99%;
          height: 18px;
          font-weight: 700;
          box-sizing: border-box;
          margin: 3px;
          padding-left: 4px;
        }

        .searchbar-container {
          box-sizing: border-box;
          display: flex;

          input {
            width: 50%;
            height: 30px;
            margin: 20px auto 0px auto;
            box-sizing: border-box;
          }

          .searchbar-btn {
            @include button;
            height: 30px;
            width: 70px;
            margin: 20px auto 0px auto;
            font-size: 12px;
            box-sizing: border-box;

            &:hover {
              cursor: pointer;
            }

            &:active {
              cursor: pointer;
              outline-offset: -5px;
              text-align: right;
              box-sizing: border-box;
            }
          }

          .searchbar-btn-active {
            @include button;
            width: 70px;
            margin: 20px auto 0px auto;
            font-size: 12px;
            box-sizing: border-box;

            &:hover {
              cursor: pointer;
            }

            &:active {
              cursor: pointer;
              outline-offset: -5px;
              text-align: right;
              box-sizing: border-box;
            }
          }

          .searchbar-dropdown {
            z-index: 999;
            width: 100%;
            height: 120px;
            z-index: 1;
            box-sizing: border-box;
            display: flex;
            position: absolute;
            margin-top: 71px;
            max-height: 0;

            ul {
              box-sizing: border-box;
              margin: 10px;
              visibility: hidden;

              li {
                min-width: 300px;
                height: 26px;
                box-sizing: border-box;
                list-style-type: none;
                display: flex;
                align-items: center;
                padding-left: 10px;
                margin-top: 5px;

                &:hover {
                  cursor: pointer;
                  outline-offset: -5px;
                }
              }
            }
          }
        }

        .search-result {
          display: none;
          align-content: center;

          .btn-result {
            @include button;
            box-sizing: border-box;
            min-width: 58px;
            height: 18px;
            font-size: 8px;
            text-align: center;
            color: $white;
            margin: 2px 0px 0px 10px;
          }
        }
      }

      .title {
        @include sectionTitle;
        margin: 40px auto 10px auto;
        width: auto;
      }

      .suggestions {
        width: 100%;
        height: 100%;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;

        .suggestions-container {
          width: 288px;
          height: 313px;
          position: relative;
          box-sizing: border-box;
          margin: auto;

          .hashtag-s {
            width: 280px;
            height: 24px;
            box-sizing: border-box;
            margin: 2px auto 2px auto;

            .closeImg {
              width: 16px;
              height: 14px;
              position: absolute;
              right: 0;
              margin: 5px 8px 5px 0px;
            }

            p {
              box-sizing: border-box;
              font-weight: 700;
              font-size: 12px;
              padding: 3px;
            }
          }

          .imgGif {
            width: 280px;
            height: 280px;
            box-sizing: border-box;
            margin: 1px 4px 2px 4px;
          }

          .btn-more {
            width: 81px;
            height: 34px;
            position: absolute;
            box-sizing: border-box;
            bottom: 0;
            margin: 0px 0px 15px 7px;

            &::after {
              content: "Ver más...";
            }
          }
        }
      }

      .trends {
        width: 100%;
        height: 100%;
        margin: auto;
        box-sizing: border-box;
        display: flex;
        flex-flow: row wrap;

        .gif-container {
          width: 294px;
          height: 304px;
          box-sizing: border-box;
          position: relative;
          margin: auto;

          &:nth-child(10n + 0) {
            width: 294px;
            height: 304px;
          
            img {
              width: 288px;
              height: 298px;
            }
          
            .hashtag {
              width: 286px;
              height: 24px;
              box-sizing: border-box;
            }
          }
          
          &:nth-child(10n + 5) {
            width: 294px;
            height: 304px;
          
            img {
              width: 288px;
              height: 298px;
            }
          
            .hashtag {
              width: 286px;
              height: 24px;
              box-sizing: border-box;
            }
          }

          img {
            width: 288px;
            height: 298px;
            margin: 3px;
            box-sizing: border-box;
          }

          .hashtag {
            width: 286px;
            height: 24px;
            position: absolute;
            box-sizing: border-box;
            bottom: 0px;
            margin: 0px 0px 4px 4px;

            p {
              box-sizing: border-box;
              font-weight: 700;
              font-size: 14px;
              padding: 3px;
              color: transparent;
              display: block;
              overflow: hidden;
              text-overflow: ellipsis;
              white-space: nowrap;

              a:hover {
                cursor: pointer;
              }
            }
          }
        }
      }
    }
  }
}

@media screen and (min-width: 801px) {
  @import "_desktop.scss";
}