.sailor-night {
  background-color: #110038;
  font-family: "Chakra Petch", sans-serif;
}

.sailor-night header .top {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  -webkit-box-shadow: 0 1px 0 0 #110038;
          box-shadow: 0 1px 0 0 #110038;
}

.sailor-night header .top .counter {
  color: #FFFFFF;
}

.sailor-night header .container .btn-group .make-gif {
  background-color: #EE3EFE;
  color: #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  border: 1px solid #110038;
}

.sailor-night header .container .btn-group .make-gif:hover {
  outline: 1px dotted #110038;
  background-color: #CE36DB;
}

.sailor-night header .container .btn-group .make-gif:active {
  outline: 1px dotted #110038;
  background-color: #CE36DB;
}

.sailor-night header .container .btn-group .make-gif a {
  color: #FFFFFF;
}

.sailor-night header .container .btn-group .dropdown {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.sailor-night header .container .btn-group .dropdown .dropdown-list .sd {
  background-color: #CCCCCC;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  color: #110038;
}

.sailor-night header .container .btn-group .dropdown .dropdown-list .sn {
  background-color: #2E32FB;
  border: 1px solid #33358F 20%;
  -webkit-box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #E6DCE4, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.sailor-night header .container .btn-group .dropdown .btn-theme {
  background-color: #EE3EFE;
  color: #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  border: 1px solid #110038;
}

.sailor-night header .container .btn-group .dropdown .btn-theme:hover {
  outline: 1px dotted #110038;
  background-color: #CE36DB;
}

.sailor-night header .container .btn-group .dropdown .btn-theme:active {
  outline: 1px dotted #110038;
  background-color: #CE36DB;
}

.sailor-night header .container .btn-group .dropdown .square {
  background-color: #EE3EFE;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  border: 1px solid #110038;
}

.sailor-night header .container .btn-group .dropdown .square:hover {
  outline: 1px dotted #110038;
  background-color: #CE36DB;
}

.sailor-night header .container .btn-group .dropdown .square:active {
  outline: 1px dotted #110038;
  background-color: #CE36DB;
}

.sailor-night header .container .mycollection p {
  color: #FFFFFF;
}

.sailor-night header .container .mycollection p:hover {
  outline: 1px dotted #FFFFFF;
}

.sailor-night header .container .mycollection p:active {
  color: #B4B4B4;
}

.sailor-night .outer-container .inner-container {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.sailor-night .outer-container .inner-container .banner {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  color: #FFFFFF;
}

.sailor-night .outer-container .inner-container .description {
  color: #110038;
}

.sailor-night .outer-container .inner-container .description p span {
  color: #00001a;
}

.sailor-night .outer-container .inner-container .description ol li span {
  color: #00001a;
}

.sailor-night .outer-container .inner-container .btn-gifos button {
  color: #FFFFFF;
}

.sailor-night .outer-container .inner-container .btn-gifos .btn-cancel {
  border: 1px solid #B4B4B4;
  background-color: #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

.sailor-night .outer-container .inner-container .btn-gifos .btn-cancel:hover {
  outline: 1px dotted #FFFFFF;
}

.sailor-night .outer-container .inner-container .btn-gifos .btn-start {
  border: 1px solid #110038;
  background-color: #EE3EFE;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.sailor-night .outer-container .inner-container .btn-gifos .btn-start:hover {
  background-color: #CE36DB;
  outline: 1px dotted #110038;
}

.sailor-night .capture-gif {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.sailor-night .capture-gif .banner {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  color: #FFFFFF;
}

.sailor-night .capture-gif .recording-camera {
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.sailor-night .capture-gif .recording-camera .progress-bar {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.sailor-night .capture-gif .recording-camera .progress-bar .loading {
  background-color: #999999;
}

.sailor-night .capture-gif .recording-camera p {
  color: #6c6184;
}

.sailor-night .capture-gif .btn-section .clock {
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  background-color: #FFFFFF;
  color: #110038;
}

.sailor-night .capture-gif .btn-section .forward {
  background-color: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.sailor-night .capture-gif .btn-section .progress-bar {
  background-color: #B4B4B4;
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.sailor-night .capture-gif .btn-section .progress-bar .loading {
  background-color: #999999;
}

.sailor-night .capture-gif .btn-section .camera {
  background-color: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.sailor-night .capture-gif .btn-section .capture {
  background-color: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.sailor-night .capture-gif .btn-section .recording {
  background-color: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
}

.sailor-night .capture-gif .btn-section .listo {
  background-color: #FF6161;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #993A3A, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.sailor-night .capture-gif .btn-section .repeat {
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
  background-color: #110038;
  color: #FFFFFF;
}

.sailor-night .capture-gif .btn-section .repeat:hover {
  outline: 1px dotted #FFFFFF;
}

.sailor-night .capture-gif .btn-section .upload {
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
  background-color: #EE3EFE;
}

.sailor-night .capture-gif .btn-section .upload:hover {
  background-color: #CE36DB;
  outline: 1px dotted #110038;
}

.sailor-night .capture-gif .btn-section .cancel {
  color: #FFFFFF;
  border: 1px solid #B4B4B4;
  background-color: #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
}

.sailor-night .capture-gif .btn-section .cancel:hover {
  outline: 1px dotted #FFFFFF;
}

.sailor-night .gif-done {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.sailor-night .gif-done .banner {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  color: #FFFFFF;
}

.sailor-night .gif-done .guifo {
  border: 1px solid #979797;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
}

.sailor-night .gif-done .options h2 {
  color: #110038;
}

.sailor-night .gif-done .options button {
  border: 1px solid #B4B4B4;
  -webkit-box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
          box-shadow: inset -1px -1px 0 0 #5C5C5C, inset 1px 1px 0 0 #FFF4FD;
  background-color: #110038;
  color: #FFFFFF;
}

.sailor-night .gif-done .options button:hover {
  outline: 1px dotted #FFFFFF;
}

.sailor-night .gif-done .finished {
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  background-color: #EE3EFE;
  color: white;
}

.sailor-night .gif-done .finished:hover {
  background-color: #CE36DB;
  outline: 1px dotted #110038;
}

.sailor-night .searchbar {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.sailor-night .searchbar .searchbar-title {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
  color: #FFFFFF;
}

.sailor-night .searchbar .searchbar-container input {
  -webkit-box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
          box-shadow: inset -2px -2px 0 0 #E6E6E6, inset 2px 2px 0 0 #000000;
  border: 1px solid #979797;
  background-color: #FFFFFF;
}

.sailor-night .searchbar .searchbar-container .searchbar-btn {
  background-color: #B4B4B4;
  border: 1px solid #808080;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  color: #8F8F8F;
}

.sailor-night .searchbar .searchbar-container .searchbar-btn:active {
  outline: 1px dotted #110038;
  background-color: #CE36DB;
  border: 1px solid #110038;
  color: #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.sailor-night .searchbar .searchbar-container .searchbar-btn-active {
  background-color: #EE3EFE;
  border: 1px solid #110038;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
  color: #FFFFFF;
}

.sailor-night .searchbar .searchbar-container .searchbar-btn-active:active {
  outline: 1px dotted #110038;
  background-color: #CE36DB;
  border: 1px solid #110038;
  color: #FFFFFF;
  -webkit-box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #A72CB3, inset 1px 1px 0 0 #FFFFFF;
}

.sailor-night .searchbar .searchbar-container .searchbar-dropdown {
  background-color: #B4B4B4;
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
}

.sailor-night .searchbar .searchbar-container .searchbar-dropdown ul li {
  color: #110038;
  background-color: #CCCCCC;
  -webkit-box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
          box-shadow: inset -1px -1px 0 0 #B4B4B4, inset 1px 1px 0 0 #FFFFFF;
  border: 1px solid #808080;
}

.sailor-night .searchbar .searchbar-container .searchbar-dropdown ul li:hover {
  outline: 1px dotted #110038;
  background-color: #CCCCCC;
}

.sailor-night .searchbar .search-result .btn-result {
  background-color: #2E32FB;
  border: 1px solid #2629CC;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
}

.sailor-night .title {
  color: #110038;
  background-color: #FFFAFE;
  border: 1px solid #2E32FB;
  -webkit-box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
          box-shadow: inset -2px -2px 0 0 #E6DCE4, inset 2px 2px 0 0 #110038;
}

.sailor-night .suggestions .suggestions-container {
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  background-color: #B4B4B4;
}

.sailor-night .suggestions .suggestions-container .hashtag-s {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.sailor-night .suggestions .suggestions-container .hashtag-s p {
  color: #FFFFFF;
}

.sailor-night .suggestions .suggestions-container:hover .imgGif {
  border: 1px dotted #110038;
}

.sailor-night .suggestions .suggestions-container:hover .btn-more {
  border: 1px solid #2629CC;
  color: #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #2124B3, inset 2px 2px 0 0 #FFFFFF;
  background-color: #2E32FB;
  outline-offset: -5px;
  outline: 1px dotted #110038;
}

.sailor-night .suggestions .suggestions-container .btn-more {
  background-color: #2E32FB;
  border: 1px solid #4C2F99;
  color: #FFFFFF;
  -webkit-box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #284F99, inset 2px 2px 0 0 #FFFFFF;
}

.sailor-night .trends .gif-container:hover {
  -webkit-box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
          box-shadow: inset -2px -2px 0 0 #8F8F8F, inset 2px 2px 0 0 #FFFFFF;
  background-color: #B4B4B4;
}

.sailor-night .trends .gif-container:hover .hashtag {
  background-image: -webkit-gradient(linear, right top, left top, from(#EE3EFE), to(#2E32FB));
  background-image: linear-gradient(270deg, #EE3EFE 0%, #2E32FB 100%);
}

.sailor-night .trends .gif-container:hover .hashtag p {
  color: #FFFFFF;
}

.sailor-night .trends .gif-container img:hover {
  border: 1px dotted #110038;
}

/* @media screen and (min-width: px) {
} */
/*# sourceMappingURL=sailornight.css.map */